---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Font Test" description="Font Test">
  <main class="max-w-screen-lg mx-auto p-8">
    <h1 class="text-3xl mb-8 font-medium">Font Test</h1>
    <section class="text-3xl">
      <p class="font-thin">This is thin text</p>
      <p class="font-extralight">This is extralight text</p>
      <p class="font-light">This is light text</p>
      <p class="font-normal">This is normal text</p>
      <p class="font-medium">This is medium text</p>
      <p class="font-semibold">This is semibold text</p>
      <p class="font-bold">This is bold text</p>
      <p class="font-extrabold">This is extrabold text</p>
      <p class="font-black">This is black text</p>
    </section>
  </main>
</Layout>
