---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import { getCollection } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import Layout from '../layouts/Layout.astro'
const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<Layout
  title='Blog'
  description='Thoughts, ideas, and other musings from the mind of a web developer.'
>
  <main class='max-w-screen-lg mx-auto pt-12 px-8'>
    <h1 class='text-4xl font-bold mb-8'>Examples</h1>
    <section>
      <ul class='grid grid-cols-1 md:grid-cols-3 gap-4'>
        {
          posts.map((post) => (
            <li class='hover:scale-105 duration-300 ease-in-out'>
              <a href={`/blog/${post.slug}/`}>
                <img
                  width={720}
                  height={360}
                  src={post.data.heroImage}
                  alt=''
                  class='rounded-lg'
                />
                <h4 class='font-bold'>{post.data.title}</h4>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
