---
import GithubIcon from "../components/GithubIcon";
const today = new Date();
---

<footer
  class="py-20 text-center text-gray-500 border-t border-neutral-200 mx-4"
>
  Copyright &copy; {today.getFullYear()}
  <a href="https://github.com/qaws7791" class="font-bold">qaws7791</a>. All
  rights reserved.
  <div class="flex justify-center gap-4 mt-4">
    <GithubIcon />
  </div>
</footer>
