---

---

<header class='flex justify-between p-6 shadow'>
  <a href='/' class='text-xl font-bold'
    ><span class='text-violet-600 text-xl'>.</span>Framer</a
  >

  <div>
    <a href='/blog' class='mr-4 font-bold'>Blog</a>
  </div>
</header>
