---
import GithubIcon from "../components/GithubIcon";
---

<header class="flex justify-between p-6 shadow">
  <a href="/" class="text-xl font-bold"
    >Framer <span class="text-violet-600 text-xl">Dot.</span></a
  >

  <div>
    <GithubIcon />
  </div>
</header>
