---
import type { TOCHeadingType } from './TableOfContents.astro'

const { heading } = Astro.props
---

<li class=''>
  <a href={'#' + heading.slug} class='font-bold text-neutral-300'>
    {heading.text}
  </a>
  {
    heading.children.length > 0 && (
      <ul class='ml-4'>
        {heading.children.map((subheading: TOCHeadingType) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
